
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.titulo {
    color: #333;
}

.table {
    margin-top: 20px;
    overflow-x: auto;
}

.menus {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.menus th, .menus td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
     margin-top: 12px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
 nav{
    background-color: orange ;
 }

